<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <figure>
            <img id="banner" src="~/Imagenes/banner.jpg" />
        </figure>
    </header>
    <section id="columna1">
        <nav class="menu">
            <ul>
                <li>@Html.ActionLink("PRINCIPAL", "Index", "Cliente")</li>
                <li>
                    <a href="#">CLIENTE</a>
                    <ul class="submenu">
                        <li>
                            @Html.ActionLink("LISTADO DE CLIENTES", "listadoClientes", "Cliente")
                        </li>
                        <li>
                            @Html.ActionLink("LISTADO DE CLIENTESxDISTRITO", "listadoClientesxDistritito", "Cliente")
                        </li>
                        <li>
                            @Html.ActionLink("REGISTRAR CLIENTE", "nuevoCliente", "Cliente")
                        </li>
                    </ul>
                </li>
                <li>@Html.ActionLink("CONTACTENOS", "Contact", "Home")</li>
            </ul>
        </nav>
    </section>
    @RenderBody()
    <footer>
        <h6>Todos los derechos reservados @@ @DateTime.Now.Year Galarza Huaman, Santos Medina, Romero Morales</h6>
    </footer>
</body>
</html>
